
*{
    font-family: Alice;
}


.navbar {
    box-shadow: 0 0 3px #79bee0 !important;
    color: black !important;
}

.navbar a {
    color: black !important;
    font-size: 20px;
}

.nav-link {
    cursor: pointer !important;
}

.navbar-brand {
    cursor: pointer !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Remove borders */
table,
th,
td {
    border: none;
}

.articles {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
    box-shadow: 0 0 1px #79bee0;
    width: 90%;
}



.add-category{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
    width: 90%;
}

#category{
    border: none;
border-bottom:1px solid #9dcde5;
width: 300px;
height: 40px;
outline: none;
margin-bottom: 20px;
}

.image-container img {
max-width: 100%; 
float: left;
margin-right: 20px; 
}

.image-container h4 {
    text-align: left;
    margin-left: 20px;
}

.image-container h1 {
text-align: left;
margin-left: 20px;
}

.image-container p {
text-align: left;
margin-bottom: 20px;
margin-left: 20px;
}

