*{
    font-family: Alice ;
}

.articles {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
     box-shadow: 0 4px 8px #79bee05c;
}



.manage-articles {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.374);

    width: 90%;
    /* block to none */
}



.add-articles{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
    box-shadow: 0 8px 10px #79bee05c;
    width: 90%;
    color: black;
    /* visibility: hidden; */
}


.nav-link {
    cursor: pointer !important;
}



.article-article > p{
    text-align: justify;
}

.navbar{
    box-shadow: 0 0 3px #79bee0 !important;
    color: black !important;
}

.navbar a{
    color: black !important;
    font-size: 22px;
}



.manage-articles-img1{
    display: inline;
   }

.manage-articles-img{
 display: inline;
 margin-left: 20px;
}

.edit-img{
    height: 20px;
    width: 20px;
    display: inline ;
}

.delete-img{
    
    height: 20px;
    width: 20px;
}

.article-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.article-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#category{
    margin: 10px 0;
}
.add-articles-heading{
    margin: 10px 0;
    font-size: 22px;
    border: none;
    border-bottom:1px solid #9dcde5;
    width: 300px;
    height: 20px;
    outline: none;
    margin: 10px 0;
}

.add-articles-textarea{
    
    width: 100%;
    border: none;
    outline: none;
    border-bottom:1px solid #9dcde5;
    overflow-y: hidden;
}

.add-articles-button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    color: black;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 94%;
}

#category{
    border: none;
    border-bottom:1px solid #9dcde5;
    width: 300px;
    height: 40px;
    outline: none; 
    margin-bottom: 10px;
}




.image-container img {
    max-width: 100%;
    float: left; 
    margin-right: 20px; 
}

.image-container h4 {
    text-align: left;
    margin-left: 20px;
}


.image-container h1 {
    text-align: left;
    margin-left: 20px; 
}

.image-container p {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px; 
}