<html>
    <head></head>
    <body>
        <form action="/register" method="post">
            <div>enter name</div>
            <input type="text" name ='name' id="name">
            <div>Enter Email</div>
            <input type="email" name = 'email' id="email">
            <div>password</div>
            <input type="password" name = 'password' id="password">
            <div>Confirm password</div>
            <input type="password" name = 'cpassword' id="cpassword">
            <button type="submit">register</button>
            <!-- <button >New to Blog</button> -->
        </form>
    </body>
</html>