<html>
    <head></head>
    <body>
        <form action="/" method="post">
            <div>Enter Email</div>
            <input type="email" name = 'email' id="email">
            <div>password</div>
            <input type="password" name = 'password' id="password">
            <button type="submit">register</button>
            <button ><a href="/register">New to Blog? Join Now</a></button>
        </form>
    </body>
</html>